@font-face{
    font-family: 'Bellota-LightItalic';
    src: url('../fonts/Bellota-LightItalic.otf')
}
@font-face{
    font-family: 'Bellota-BoldItalic';
    src: url('../fonts/Bellota-BoldItalic.otf')
}

body {
   line-height: 17px; 
}

.top_bar{
    width: 100%;
    min-width: 1050px;
    height: 40px;
    background-color: #d35400;
    border-bottom: 5px solid #fab1a0;
    margin: 0 0 10px 0;
    display: inline-flex;
}

.logo a {
    font-family: 'Bellotta-BoldItalic', sans-serif;
    margin-left: 10px;
    font-size: 30px;
    position: relative;
    top: 9px;
    text-shadow:#79491e  0.5px 0.5px 0px;
    color: #fab1a0;
}

a:hover {
    text-decoration: none;
}

nav {
    float:right;
    right: 1px;
    position: absolute;
    margin: 10px
}

nav a {
    position: relative;
    color: #fab1a0;
    text-decoration: none;
    font-size: 17px;

}

nav a:hover {
    border-bottom: 7px solid #79491e;
    color: #fab1a0;
}